@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

*::selection {
  background: #2f2f2f25;
}

*::-webkit-scrollbar {
  display: none;
}

html.dark {
  --bg: #2f2f2f;
  --fg: #f5f1e9;
}

html {
  scroll-behavior: smooth;

  --bg: #f5f1e9;
  --border: #d1cfc7;
  --fg: #2f2f2f;
}

body {
  background: var(--bg);
}

/* ====================
## Header Styles
==================== */

.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 96px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding-left: 64px;
  
  background: var(--bg);
  border-bottom: solid 1px var(--border);
  
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.header.opened {
  transform: translateY(0);
}

.header .left {
  height: 80%;
}

.header .left  img {
  height: 100%;
}

.header .right {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  
  height: 100%;
  padding-right: 64px;
}

.header .right .langButton {
  position: relative;
  
  font-family: 'Satoshi';
  font-size: 1em;
  font-weight: 400;
  color: var(--fg);
  
  background: transparent;
  border: none;
  
  height: 100%;
  padding: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  border: solid 1px var(--border);
  border-width: 0 1px 0 1px;
  
  overflow: hidden;  
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.header .right .langButton:hover {
  color: var(--bg);
}

.header .right .langButton span {
  z-index: 1;
}

.header .right .langButton::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: calc(100% + 20px); height: calc(100% + 2px);
  background: var(--fg);
  
  clip-path: polygon(0 0, 0 100%, 100% 100%, 95% 87%, 100% 75%, 95% 63%, 100% 50%, 95% 38%, 100% 25%, 95% 12%, 100% 0);
  
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%);
}

.header .right .langButton:hover::after {
  width: calc(100% + 20px);
  transform: translateX(0);
}

.langSelector {
  position: absolute;
  top: 96px; right: 64px;
  width: fit-content; height: fit-content;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  
  background: var(--bg);
  border: solid 1px var(--border);
  border-top: none;
  
  z-index: 1;
  
  background: var(--border);
  
  transition: all 0.2s ease-in-out;
  transform: translateY(calc(-100% - 96px));
}

.langSelector.opened {
  transform: translateY(0);
}

.langSelector .option {
  width: 180px;
  padding: 16px 32px;
  font-family: 'Satoshi';
  font-size: 1em;
  font-weight: 400;
  
  color: var(--fg);
  background: var(--bg);
}

.langSelector .option:hover {
  background: var(--border);
  cursor: pointer;
}

/* ====================
## Landing Styles
==================== */

.landing {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
  
  height: 100dvh;
  
  z-index: -2;
}

.landing .detail {
  position: absolute;
  bottom: 0; right: 0;
  
  z-index: -1;
  
  transition: all 0.5s cubic-bezier(.25,1,1,1);
  transition-delay: 500ms;
  transform: translateX(120px);
  opacity: 0;
  filter: blur(12);
}

.landing .detail.animated {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

.landing .name {
  grid-column: 2/9;
  grid-row: 2;
  
  font-family: 'Satoshi';
  font-size: 8em;
  font-weight: 800;
  color: var(--fg);
  
  height: 100%;
  
  transition: all 0.5s cubic-bezier(.25,1,1,1);
  transition-delay: 300ms;
  transform: translateY(80px);
  opacity: 0;
  filter: blur(12);
}

.landing .name.animated {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.landing .quick-intro {
  grid-column: 2/9;
  grid-row: 4;
  
  font-family: 'Satoshi';
  font-size: 2em;
  font-weight: 400;
  color: var(--fg);
  max-width: 800px;
  
  transition: all 0.5s cubic-bezier(.25,1,1,1);
  transition-delay: 500ms;
  transform: translateY(80px);
  opacity: 0;
  filter: blur(12);
}

.landing .quick-intro.animated {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.landing .actions {
  grid-column: 2/12;
  grid-row: 7;
  
  display: flex;
  align-items: normal;
  justify-content: start;
  
  transition: all 0.5s cubic-bezier(.25,1,1,1);
  transition-delay: 700ms;
  transform: translateY(80px);
  opacity: 0;
  filter: blur(12);
}

.landing .actions.animated {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.landing .actions .action {  
  position: relative;
  
  font-family: 'Satoshi';
  font-size: 1.5em;
  font-weight: 400;
  color: var(--fg);
  
  padding: 0 64px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  
  background: var(--bg);
  border: 1px solid var(--fg);
  
  height: 100%;
  
  overflow: hidden;  
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.landing .actions .action:hover {
  color: var(--bg);
}

.landing .actions .action.cta {
  background: var(--fg);
  border-right: none;
  color: var(--bg);
}

.landing .actions .action.cta:hover {
  color: var(--fg);
}

.landing .actions .action::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: calc(100% + 20px); height: calc(100% + 2px);
  background: var(--fg);
  
  clip-path: polygon(0 0, 0 100%, 100% 100%, 97% 87%, 100% 75%, 97% 63%, 100% 50%, 97% 38%, 100% 25%, 97% 12%, 100% 0);
  
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%);
}

.landing .actions .action:hover::after {
  width: calc(100% + 20px);
  transform: translateX(0);
}

.landing .actions .action.cta::after {
  background: var(--bg);
}

.landing .actions .action p,
.landing .actions .action span {
  z-index: 1;
}

/* ====================
## Footer Styles
==================== */

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  
  height: 256px;
  padding: 64px;
  
  background: var(--bg);
  border-top: solid 1px var(--border);
}

.footer img {
  width: 64px;
  height: 64px;
}

.footer .split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  font-family: 'Satoshi';
  font-size: 1em;
  font-weight: 400;
}

.footer p {
  color: var(--fg);
}

.footer .socials {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.footer .socials a {
  color: var(--fg);
}